body {
  font-family: 'Zen Dots', cursive;
  background-color: var(--body_background);
}

.card {
  box-shadow: 0 10px 25px var(--box_shadow);
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 10vh;
  min-height: 70vh;
  padding: 1vw;
  border-radius: 3vw;
  font-size: calc(12px + 0.5vw);
  background-color: var(--card_background);
}
.card:hover {
  box-shadow: 5px 10px 25px 15px var(--box_shadow_hover);
}
.quoteCard {
  background-color: var(--quote_card_background);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 11vw;
}

.author {
  margin-top: auto;
  font-size: calc(10px + 0.7vw);
  padding: 0.5vw;
}
.quote {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
.addQuoteBtn {
  text-align: center;
}
.modifiers {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 2vh;
  position: static;
}
.modifiersTop {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 2vh;
  position: static;
}
.bin,
.order,
.edit,
.twitter {
  cursor: pointer;
}
